@import '_var.scss';
@import '_mixin.scss';

// *********
// about
// *********
.about-me,
.about-thought {
    margin-bottom: 7.5%;
}
.about-me .ttl-lv3 {
    margin-bottom: 4.5%;
    @include bpSp {
        margin-bottom: 4%;
    }
}
.about-2col {
    display: flex;
    justify-content: space-around;
    align-items: center;
    @include bpSp {
        flex-direction: column;
    }
}
.about-maintext {
    width: 60%;
    margin-right: 4%;
    @include bpSp {
        width: 100%;
        text-align: left;
        margin: 0 0 3%;
    }
}
.aboutme-img {
    width: 40%;
    box-shadow: 0 0 50px -25px $subColor2;
    @include bpSp {
        width: 90%;
    }
}
.about-thought .ttl-lv3{
    margin-bottom: 4.5%;
    @include bpSp {
        margin-bottom: 0;
    }
}
.about-3col {
    display: flex;
    justify-content: space-between;
    @include bpSp {
        flex-direction: column;
        align-items: center;
    }
}
.about-item {
    width: 30%;
    &:nth-child(n+2) {
        @include bpSp {
            margin-top: 3%;
        }
    }
    @include bpSp {
        width: 100%;
    }

}
.about-subttl {
    text-align: center;
    margin-bottom: 13px;
    font-size: 1.8em;
    font-weight: bold;
    @include bpSp {
        font-size: 1.4em;
    }
}
.about-img {
    width: 40%;
    margin: 0 auto;
    @include bpSp {
        width: 32%;
    }
}
.about-item_text {
    text-align: left;
    line-height: 1.75;
}
.fa-html5 {
    color: #f16529;
}
.fa-css3-alt {
    color: #007db7;
}
.fa-js-square {
    color: #f0db4f;
}
.fa-gulp {
    color: #ee4846;
}
.fa-sass {
    color: #cf649a;
}
.fa-vuejs {
    color: #41b883;
}
.fa-php {
    color: #8892bf;
}