@import '_var.scss';
@import '_mixin.scss';
@import '_btn.scss';


body {
    position: relative;
    &.bgSub3{
    background-color: black;
    }
}


.wrap {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}


// .m-split {
//     display: flex;
//     width: 100%;
//     height: 100%;
//     .split-box {
//         width: 50%;
//         height: 100%;
//     }
//     .split-box:nth-child(1) {
//         transform: rotate(45deg);
//     }
//     .split-box:nth-child(2) {
//         transform: rotate(45deg);
//     }
// }

.sub-ttl {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 8%;
    overflow: hidden;
    text-align: center;
}

.ttl-lv2 {
    position: relative;
    font-size: 45px;
    letter-spacing: 4px;
    &::after {
        @include pseudoElement(0, 0);
        bottom: -5px;
        background-color: $black;
    }
}
.ttl-lv2.draw-line {
    &::after {
        transition: .6s;
        transition-delay: 1s;
        @include pseudoElement(100%, 10px);
        bottom: -5px;
        background-color: $black;
    }
}

// *********
// common
// *********
.about-sec,
.work-sec{
    margin-top: 7%;
}

// *********
// important
// *********
.bgW {
    background-color: $white !important;
}

.bgB {
    background-color: $black !important;
}

.bgSub1 {
    background-color: $subColor1 !important;
}

.bgSub2 {
    background-color: $subColor2 !important;
}