@import '_var.scss';
@import '_mixin.scss';
@import '_btn.scss';


body {
    position: relative;
    transition: .3s;
    &.bgSub3{
    background-color: black;
    }
    &.darkmode {
        background-color: #000;
        color: #fff;
        transition: .3s;
        a {
            color: #fff;
        }
    }
}


.wrap {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}


// .m-split {
//     display: flex;
//     width: 100%;
//     height: 100%;
//     .split-box {
//         width: 50%;
//         height: 100%;
//     }
//     .split-box:nth-child(1) {
//         transform: rotate(45deg);
//     }
//     .split-box:nth-child(2) {
//         transform: rotate(45deg);
//     }
// }

.ttl-lv2 {
    position: relative;
    width: 200px;
    margin: 0 auto 5%;
    font-size: 45px;
    letter-spacing: 4px;
    text-align: center;
    @include bpSp {
        margin: 0 auto 12%;
    }
    &::after {
        @include pseudoElement(0, 0);
        bottom: -5px;
        background-color: $black;
    }
}
.ttl-lv2.draw-line {
    &::after {
        transition: .6s;
        transition-delay: 1s;
        @include pseudoElement(100%, 5px);
        bottom: -5px;
        background-color: $black;
        border-radius: 10px;
    }
}

body.darkmode {
    .ttl-lv2.draw-line {
        &::after {
            background-color: $white;
        }
    }
}

// *********
// common
// *********
.about-sec,
.work-sec{
    margin-top: 7%;
    @include bpSp {
        margin-top: 10%;
    }
}

// *********
// important
// *********
.bgW {
    background-color: $white !important;
}

.bgB {
    background-color: $black !important;
}

.bgSub1 {
    background-color: $subColor1 !important;
}

.bgSub2 {
    background-color: $subColor2 !important;
}