@import '_var.scss';
@import '_mixin.scss';
@import '_btn.scss';

.pc {
    display: block;
    @include bpSp {
        display: none;
    }
}

body {
    position: relative;
    transition: .3s;
    &.darkmode {
        background-color: #222;
        color: #fdfdfd;
        transition: .3s;
        a {
            color: #fdfdfd;
        }
    }
}

.wrap {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    @include bpSp {
        width: 87.5%;
    }
}


// .m-split {
//     display: flex;
//     width: 100%;
//     height: 100%;
//     .split-box {
//         width: 50%;
//         height: 100%;
//     }
//     .split-box:nth-child(1) {
//         transform: rotate(45deg);
//     }
//     .split-box:nth-child(2) {
//         transform: rotate(45deg);
//     }
// }

.ttl-lv2 {
    position: relative;
    width: 300px;
    margin: 0 auto 5%;
    font-size: 4rem;
    letter-spacing: 4px;
    text-align: center;
    @include bpSp {
        width: 200px;
        font-size: 2.7rem;
        margin: 0 auto 12%;
    }
    &::after {
        @include pseudoElement(0, 0);
        bottom: -5px;
        background-color: $black;
    }
}
.ttl-lv2.draw-line {
    &::after {
        transition: .6s;
        transition-delay: 1s;
        @include pseudoElement(100%, 5px);
        bottom: -5px;
        background-color: $black;
        border-radius: 10px;
    }
}

body.darkmode {
    .ttl-lv2.draw-line {
        &::after {
            background-color: $white;
        }
    }
}

// *********
// common
// *********
.ttl-lv3 span {
    font-size: 1.8em;
    color: #fdb2a1;
    text-shadow: 5px 5px 9px #222;
}
.about-sec,
.work-sec{
    margin-bottom: 10%;
    @include bpSp {
        margin-bottom: 10%;
    }
}
.about {
    &-me .ttl-lv3,
    &-thought .ttl-lv3,
    &-skill .ttl-lv3{
        font-size: 1.9em;
        margin-bottom: 10%;
        letter-spacing: 0.25em;
        @include bpSp {
            font-size: 1.25em;
        }
    }
}

// *********
// important
// *********
.bgW {
    background-color: $white !important;
}

.bgB {
    background-color: $black !important;
}

.bgSub1 {
    background-color: $subColor1 !important;
}

.bgSub2 {
    background-color: $subColor2 !important;
}