@import '_var.scss';
@import '_mixin.scss';

// *********
// header
// *********
.l-header {
    position: fixed;
    width: 100%;
    z-index: 20;
    text-align: center;
}

.nav {
    display: flex;
    justify-content: flex-end;
    .nav-list {
        display: flex;
        .nav-item {
            width: 110px;
            @include bpSp {
                width: 90px;
                margin: 10px 0 0;
            }
        }
        .nav-item a {
            display: block;
            padding: 15px 0;
            font-weight: bold;
            font-size: 18px;
            @include bpSp {
                font-size: 14px;
                padding: 5px 0;
            }
        }
    }
}

.header-btn{
    height: 50px;
    width: 50px;
    margin: 0 20px 0px auto;
    a {
        position: relative;
        display: block;
        width: inherit;
        height: inherit;
        text-indent: -9999px;
    }
    .header-icon {
        @include pseudoElement;
        width: inherit;
        height: 2px;
        top: 13px;
        top: 10px;
        transition: .2s;
        &::after {
            @include pseudoElement;
            width: inherit;
            height: 2px;
            top: 26px;
            transition: .2s;
        }
        &.bgB::before,
        &.bgB::after {
            background-color: $black;
        }
    }
    &.is-open {
        transform: rotate(360deg);
        .header-icon {
            transform: translate(0, 15px) rotate(-50deg);
            transition: .2s;
        }
        ::after {
            transform: translate(0, -25px) rotate(95deg);
            transition: .2s;
        }
    }
}
.t-btn-area {
    position: absolute;
    top: 15px;
    left: 2%;
    @include bpSp {
        top: 33%;
    }
}
.t-btn {
    width: 25px;
    height: 25px;
    @include bpSp {
        width: 18px;
        height: 18px;
    }
}
.dark {
    background-color: #000;
    border: 1px solid #fff;
}
.light {
    background-color: #fff;
    border: 1px solid #000;
}