@import '_var.scss';
@import '_mixin.scss';

// *********
// skill
// *********
.about-skill .ttl-lv3 {
    margin-bottom: 4.5%;
    @include bpSp {
        margin-bottom: 4%;
    }
}
.skill-2col {
    display: flex;
    flex-wrap: wrap;
    @include bpSp {
        flex-direction: column;
    }
    &.fa-ul {
        // webフォントCSS上書き
        margin: 0;
    }
    .skill-item {
        width: 45%;
        display: flex;
        align-items: center;
        @include bpSp {
            width: 100%;
        }
    }
    .skill-item:nth-child(even) {
        margin-left: auto;
        @include bpSp {
            margin-left: 0;
        }
    }
    .skill-item:nth-child(n+3) {
        margin-top: 10px;
    }
    .skill-item:nth-child(n+2) {
        @include bpSp {
            margin-top: 3.5%;
        }
    }
    .skill-thumb {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100px;
        @include bpSp {

        }
    }
    .skill-text {
        width: 100%;
        margin-left: 2%;
        text-align: left;
        @include bpSp {
            padding-right: 0;
        }
    }
    .fa-li {
        left: 0;
    }
}